<html>
   <head>
      <link rel="stylesheet" type="text/css" href="/static/css/normal.css"/>
      <script type="text/javascript" src="/static/js/showMSG.js"></script>
   </head>
   <body class="content">
     <form name="textareaform">
       <textarea name="textarea" rows="15" cols="120">
         {{ result | nl2br }}
       </textarea>
      </form>
      <form action=update_connect_message style="display:none" method="post">
         <input type="submit" id="update" value="Update">
      </form>
      <form action=disconnect_ovpn_from_server method="post" onsubmit="return showMSG();">
         <input type="submit" value="Disconnect">
      </form>
      <script type="text/javascript">
         function autoclick(name){

            if(document.all){

               document.getElementById(name).click();

            }
            else{

              var evt = document.createEvent("MouseEvents");
              evt.initEvent("click",true, true);
              document.getElementById(name).dispatchEvent(evt);
            }

         }
         
      </script>
      <script type="text/javascript">
        if(textareaform.textarea.value.match("Initialization Sequence Completed")==null){
           textareaform.textarea.value.replace("<br>","");
           setTimeout("autoclick('update')",3000);
        }
        else{
           alert("You have connected !!");
        }
      </script>
   </body>
</html>
