<html>
   <head>
    <link rel="stylesheet" type="text/css" href="/static/css/normal.css">  
   </head>
   <body class="content">
     <h1 id="ovpn_list_label">list: {{ result }}</h1>
     <form name="form_table" action=remove_ovpn_form method="post" onsubmit="return check()">
       <input type="submit" value="Remove">
       <input type="text" name="ovpn_file" id="ovpn_file">
     </form>
     <form action=back_to_ovpn_control method="post">
        <input type="submit" value="Previous">
     </form>
     <script src="static/js/remove_ovpn_html.js" type="text/javascript"></script>
   </body>
</html>
